body {
    background-color: #40407a;
    color: #f5f6fa;
}

h1 {
    color: #ffb142;
    font-family: 'Walter Turncoat', cursive;
    font-size: 3em;
}

p {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.2em;
}

#container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info {
    display: flex;
}
.rocket {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    margin-left: 2px;
}
.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-5px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}

@media only screen and (max-width: 767px) {
    #container {
        position: absolute;
        top: 40%;
        left: 30%;
        transform: translate(-30%, -40%);
    } 
    h1 {
        font-size: 2.2em;
    }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-width: 1024px) 
    and (max-height: 1366px) 
    and (-webkit-min-device-pixel-ratio: 1.5) {
        h1 {
            font-size: 4em;
        }

        p {
            font-size: 1.8em;
        }
    }

/* ----------- iPad ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)  { 
        h1 {
            font-size: 3em;
        }

        p {
            font-size: 1.8em;
        }
    }

/* ----------- iPhone X ----------- */
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        h1 {
            font-size: 2em;
        }
    }